{% load static %}
<header>
    <h1><a href="/"> Shopping App </a></h1>
    <form action="/" method="get">
        <input type="search" placeholder="Search here..." name="q" value="{{ request.GET.q }}" />
        <button type="submit">
            <img src="{% static 'images/search.svg' %}" class="wrap" alt="" />
        </button>
    </form>
    <nav>
        {% if request.user.is_authenticated %}
        <ul>
                    <li><a href="{% url 'superadmin:dashboard' %}"> Admin </a></li>
                    <li><a href="{% url 'users:profile' pk=request.user.customer.pk %}" class="profile">{{ request.user.customer.name }}</a></li>
                    <li>
                        <a href="{% url 'cart:view_cart' %}" class="cart" >
                             <img class="wrap" src="{% static 'images/cart.svg' %}" alt="cart" />
                             <span>{{ request.user.customer.cart.items.count }}</span> 
                        </a>
                    </li>
                    <li><a href="{% url 'users:logout' %}" class="logout">Logout</a></li>
         </ul>
         {% else %}
        <ul>
            <li><a href="{% url 'users:login' %}" class="auth login">Login</a></li>
            <li><a href="{% url 'users:signup' %}" class="auth register">Register</a></li>
        </ul>
        {% endif %}
    </nav>
</header>
