#view-user-profile{
    &>h1{
        @include title;
    }

    &>.top{
        padding: 50px 100px 100px;
        display: flex;
        // align-items: center;
        // justify-content: space-evenly;

        &>.image{
            width: 200px;
            margin-right: 50px;

            &>img{
                width: 100%;
                border-radius:50%;
            }
        }
        &>.middle{
            margin-right: 300px;

            &>h2{
                font-weight: 600;
                margin-bottom: 24px;
            }
            &>span{
                font-size: 19px;
                display: inline-block;
                margin-bottom: 12px;
            }
            &>p{
                width: 400px;
                font-size: 19px;

                &>span{
                    font-weight: 700;
                    margin-right: 12px;
                }
            }
        }
        .right{
            &>img{
                display: block;
                width: 40px;
                margin-bottom: 24px;
                cursor: pointer;
            }
            &>a{
                display: block;
                width: 40px;
                img{
                    width: 100%;
                }
            }
        }
    }
    &>.middle-actions{
        display: flex;
        justify-content: center;
        align-items: center;

        a.btn{
            margin: 0 24px;
        }
    }



    & > #cart-hide-show {
        position: absolute;
        top: 150px;
        right: 50px;
        @include box;
        width: 500px;
        min-height: min-content;
        max-height: 500px;
        overflow-y: scroll;

        &.toggle{
            display: none;
        }

        .close-btn {
            display: flex;
            justify-content: flex-end;

            img{
                width: 25px;
                cursor: pointer;
            }
        }

        h1 {
            @include title;

            a{
                @extend h1;
            }
        }
        ul {
            h1.empty-cart{
                font-size: 18px;
                color: #ccc;
            }
            li {
                display: flex;
                align-items: center;
                margin-bottom: 32px;

                &:last-child{
                    margin-bottom: 0;
                }

                .left{

                    a{
                        display: inline-block;
                        width:150px;
                        margin-right: 32px;

                        img {
                            width: 100%;
                        }
                    }
                }
                .right {

                    h4{
                        @include title;
                        margin: 0;
                        font-size: 18px;
                        margin-bottom: 24px;
                    }
                }
            }
        }
    }
}