* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

del {
  text-decoration: line-through;
}

body {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #1C2C40;
  overflow-x: hidden;
  min-width: 320px;
  font-weight: 400;
  background: #f3effe;
}

input, textarea, select {
  font-family: "Circular-Std-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

a {
  color: #1C2C40;
}

a:hover, .submit:hover {
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  -khtml-opacity: 0.85;
  opacity: 0.85;
}

.thumb {
  display: block;
}

.thumb img {
  display: block;
  width: 100%;
}

p {
  line-height: 1.6em;
  font-size: 16px;
  font-family: "Circular-Std-Regular", Arial;
  font-weight: 400;
}

.hidden {
  display: none;
}

br.clear {
  clear: both;
  line-height: 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1500px;
}

.wrap {
  width: 100%;
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  padding: 25px 100px;
  width: 100%;
  -webkit-box-shadow: 2px 6px 22px -1px #a3a0a0bf;
          box-shadow: 2px 6px 22px -1px #a3a0a0bf;
}

header h1 a {
  font-size: 32px;
  font-weight: 600;
}

header form {
  border: 1px solid #111;
  padding: 10px 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form input[type="search"] {
  font-size: 19px;
}

header form button[type="submit"] {
  width: 20px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  margin-right: 25px;
}

header nav ul li a {
  font-weight: 600;
}

header nav ul li a.cart {
  background: #9e5ef3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 35px;
  border-radius: 10px;
  position: relative;
}

header nav ul li a.cart img {
  width: 25px;
}

header nav ul li a.cart span {
  position: absolute;
  top: -13px;
  left: 63px;
  font-weight: 700;
  padding: 7px 12px;
  border-radius: 10px;
  color: #fff;
  background-color: #111;
}

header nav ul li:last-child {
  margin-right: 0;
}

header nav ul li a.logout {
  padding: 11px 20px;
  background: #ff2626;
  border-radius: 10px;
  color: #fff;
  margin-left: 16px;
}

header nav ul li a.auth {
  padding: 10px 25px;
  border-radius: 10px;
  background: #ddc4ff;
}

header nav ul li a.login {
  color: #9e5ef3;
}

header nav ul li a.register {
  color: #ff02bb;
  background: #ffade9;
}

#home {
  padding: 100px 0;
}

#home section.wrapper h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 52px;
}

#home section.wrapper ul li.product {
  display: inline-block;
  width: 23%;
  padding: 20px;
  background-color: #d8d8d840;
  margin: 10px;
  border-radius: 10px;
}

#home section.wrapper ul li.product img {
  margin-bottom: 20px;
  width: 100%;
}

#home section.wrapper ul li.product a h3 {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 20px;
}

#home section.wrapper ul li.product a h3:hover {
  text-decoration: underline;
  color: #0015ff;
}

#home section.wrapper ul li.product p {
  font-size: 17px;
  margin-bottom: 25px;
}

#home section.wrapper ul li.product h4 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  color: #9e5ef3;
  margin-bottom: 40px;
}

#home section.wrapper ul li.product .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home section.wrapper ul li.product .buy a {
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  margin-right: 20px;
}

#home section.wrapper ul li.product .buy a:last-child {
  margin-right: 0;
}

#home section.wrapper ul li.product .buy a.to-cart {
  color: #264500;
  background-color: #abff98;
}

#home section.wrapper ul li.product .buy a.buy-now {
  background-color: #ffcd69;
  color: #472f00;
}
/*# sourceMappingURL=style.css.map */