{% extends "boilerplate/boilerplate.html" %} {% load static %}{% block content%}

<section id="signup">
    <div class="wrapper">
        
        <div class="right">
			<h1>Login</h1>
            <form action="" method="post">
                {% csrf_token %}
                <div class="input-wrapper">
                    <label for="username">Username</label>
                    <input type="text" name="username" placeholder="Username" id="username" />
                </div>
                <div class="input-wrapper">
                    <label for="password">Password</label>
                    <input type="password" name="password" placeholder="Password" id="password" />
                </div>
                {% if error %}
                <p class="error">{{message}}</p>
                {% endif %}
				<button type="submit">Login</button>
				<p>Don't have an account? <a href="{% url 'users:signup'%}">Register</a></p>
            </form>
        </div>
        <!-- /.right -->
        <div class="left">
			<img src="{% static 'images/login.svg' %}" class="wrap" alt="" />
        </div>
        <!-- /.left -->
    </div>
</section>
<!-- /#signup -->

{% endblock %}
